html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eceff2;
  margin-bottom: 200px;
  /* Margin bottom by footer height */
}

/** Bar chart **/
#chart-container {
  height: 400px;
  border: 1px solid rgba(73, 73, 89, .20);
  background: url('../images/bar-chart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#chart-container > svg {
  display: none;
}

/** Results **/
#results-container>* {
  display: inline-block;
}

#results-container>button {
  display: none;
}

/* Shows list of book covers at bottom of screen */
#books-container {
  width: 100%;
  height: 200px;
  overflow-x: scroll;
}

#books-container>* {
  margin: 0;
}

#books-container>p {
  align-self: center;
}

#books-container>img {
  align-self: flex-end;
  width: 120px;
  height: auto;
  max-height: 200px;
}

#books-container>img:hover {
  cursor: pointer;
}

/** Footer **/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}