div {
  position: absolute;
}

#chart-container {
  left: 0;
  top: 130px;
  width: 700px;
  height: 460px;
  visibility: hidden;
}

#results-container {
  left: 10px;
  top: 600px;
  width: 100%;
  height: 40px;
}

#results-container > * {
  display: inline-block;
}

#results-container > button {
  display: none;
}


/* Shows list of book covers at bottom of screen */
#books-container {
  position: absolute;
  left: 0;
  margin: 0 10px 0 10px;
  top: 660px;
  width: 100%;
  height: 200px;
  display: flex;
  overflow-x: scroll;
}

#books-container > *:hover {
  cursor: pointer;
}

img {
  align-self: flex-end;
  width: 120px;
  height: auto;
  max-height: 200px;
}

